* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 1rem;
}

.basketMatches {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    width: 25%;
}