* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding: 1rem;
}

.basketMatches {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    width: 25%;
}

.access {
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
}

.info {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    width: 25%;
}

.name {
    text-transform: capitalize;
}