* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding: 1rem;
}

/******
    Snack #1
******/
.basketMatches {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    width: 25%;
}

/******
    //Snack #1
******/
/******
    Snack #2
******/
.access {
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
}

.info {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    width: 25%;
}

.name {
    text-transform: capitalize;
}

/******
    //Snack #2
******/
/******
    Snack #3
******/
.date {
    padding-left: 1rem;
    font-weight: bold;
}

.post {
    padding-left: 2rem;
}

.title {
    font-style: italic;
}

/******
    //Snack #3
******/

/******
    Snack #4
******/
.lorem-text {
    padding: 1rem;
}

ol {
    padding: 1rem 0 2rem 3rem;
}

/******
    //Snack #4
******/
.votes {
    padding: .5rem;
}